/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-mar-2017, 11.48.04
    Author     : jonathanpallini
*/
*{
    margin: 0;
    padding:0;
    line-height: 1.0;   
}
h1,h2,h3,h4,h5,h6{
    font-family: cursive;
}
.ui-panel-inner{
    font-family: cursive;
}
#map-canvas { 
    width: 110%;
    height: 55vh;
    padding: 0;
    margin-top: -65px;
    margin-left: -5%;
    margin-right: -5%;
}
.imghome{
    width: 138%;
    margin-left: -14%;
    margin-top: -0.5%;
}
#infohome{
    margin-left: 5px;
    background-color: transparent;
    font-size: 17px;
    margin-left: 3%;
    margin-right: 3%;
    border-color: transparent;
    padding:1%;
}
#abruzzo{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 3px;
}
#logohome{
    margin-bottom: 2%;
    margin-top: 3%;
    width: 14%;
    height: 14%;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    vertical-align: -webkit-baseline-middle;
}
#bottoniHome{
    text-align: center;
    font-size: 1em;
    margin-top: -32px;
}
#infohome:active{
    color:#008ed4;
}
#mainhome{
    margin-top: -20px;
}
.ui-content{
    font-size: 14px;
}
#menu{
    height: 14px;
    width: 17px;
    background: none;
    border-color: none;
    border-box:none;
    color:#fff;
    text-shadow:none;
    border: 0;
    font-weight: initial;
    font-size: 37px;
    margin-top: -24px;
    margin-left: -40px;
}
#social{
    width: 10%;
    height: 26px;
    background: none;
    border-color: none;
    border-box: none;
    color: #fff;
    text-shadow: none;
    border: 0;
    font-weight: initial;
    font-size: 32px;
    margin: 3px 0px;
    padding: 7px 28px;
}
#maincitta{
    width:100%;
    color:#000000;
    padding: 0 !important;
}
#cittasfondo{
    background-image:url("../images/5.jpg"); 
    width:105%;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    margin-top: -5px;
    margin-left: -2%;
    margin-right: -2%;
}
#maincittacontenuto{
    width: 96%;
    color: #000000;
    text-shadow: none;
    margin: 5px 0px;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1em;
}
#logocitta{
    width: 17%;
    height: 17%;
    text-align: center;
    margin-top: 5px;
}
#visitpineto{
    width: 75%;
    margin: 5px 10%;
}
#contcitta{
    margin: 15px 0px;
}
#iconemenu{
    color:#00733a;
    text-decoration: none;
    width: 100%;
    height: 40px;
    margin: -2px 0px;
    text-align: center;
    font-family: cursive;
}
#menudv{
    height: 14px;
    width: 2.5em;
    background: none;
    border-color: none;
    border-box: none;
    color: #fff;
    text-shadow: none;
    border: 0;
    font-weight: initial;
    font-size: 37px;
    margin-top: -24px !important;
    padding: -4px;
    margin-right: -2em;
    margin-left: -2em;
}
.chiesa,.cultura,.monumenti,.parchi,.luoghidiinteresse,.dovedormire,.farmacie{
    color:#000 !important;
    text-decoration: none;
    text-align: left;
}
#logomenu{
    width: 28%;
}
.titolomenu{
    font-size: 24px !important;
}
.contenutochiese,.contenutocultura,.contenutomonumenti,.contenutoparchi,.contenutoluoghidiinteresse,.contenutofarmacie,.contenutocantine{
    width: 110%;
    line-height: 3em;
    font-size: 13px;
    margin-left: -15px;
    margin-right: -15px;
    opacity: 0.7;
    padding: 0px;
    background-color: #e6f4f9;
    color: #000;
}
#sfondo{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/sfondopineto.png?alt=media&token=d7f896db-bdc4-4308-a325-19bd30d8cc2c");
    height:90vh;
    background-size: cover;
    background-position: center;
}
#sfondoeno{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/sfondoeno.jpg?alt=media&token=ce2f52c2-92a8-4cbf-a45c-d356bcc55bb1");
    height:90vh;
    background-size: cover;
    background-position: center;
}
#imgContenuto{
    width: 70%;
    padding: 10px 0px; 
}
#mainindicazioni{
    line-height: 3em;
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/pinetaa.jpg?alt=media&token=d249e818-ca09-4cc6-84fa-3bcb36e504ad");
    color:#000;
    height:90vh;
    background-size: cover;
    background-position: center;
}
.contenutodovedormire{
    color:#000;
    line-height: 1.7em;
    width: 100%;
}
#collegamentidavisitarechiese,#collegamentidavisitaremonumenti,#collegamentidavisitareluoghidiinteresse,#collegamentidavisitarecultura,#collegamentidavisitareparchi,#collegamenticantine,#collegamentiristoranti,#collegamentiagriturismi{
    color:#ebebeb;
    background: none;
    text-decoration: none !important;
    text-align: center;
    font-family: cursive;
    margin: 5px 0%;
    height:16.5vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-size: 24px;
}
#collegamentidavisitarecultura{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/torrecerrano.jpg?alt=media&token=93f315a4-b19f-4acc-a3a4-905033a01549");
}
#collegamentidavisitarechiese{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/s.agnese.JPG?alt=media&token=3183de68-d733-4db9-87fb-5cf476c04311");
}
#collegamentidavisitareparchi{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/la-storia-di-pineto.jpg?alt=media&token=15e3bf08-28f8-4867-8340-e4dad4238efd");
}
#collegamentidavisitaremonumenti{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/pistaciclabile.JPG?alt=media&token=7da0c01e-9eea-4388-a823-99628854fff4");
}
#collegamentidavisitareluoghidiinteresse{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/mimmopavone.jpg?alt=media&token=98856d03-6bf7-4ab7-8702-2682972ca4bd");
}
#collegamenticantine{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/cantine.jpg?alt=media&token=4ccdade0-889f-47d8-92b7-7fe3abf1f130");
}
#collegamentiagriturismi{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/agriturismi.jpg?alt=media&token=b33343d9-9770-47bb-987c-662210bc5633");
}
#collegamentiristoranti{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/ristoranti.jpg?alt=media&token=79b695a7-9e85-4e32-8d9d-38c611dea1d8");
}
.cantine,.dvdormire{
    text-decoration: none;
}
.iconecontenuto{
    color: #000;
}
#sfondocontenuto{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/pineto-1f0b4.appspot.com/o/pinetaa.jpg?alt=media&token=d249e818-ca09-4cc6-84fa-3bcb36e504ad");
    color:#000;
    height:90vh;
    background-size: cover;
    background-position: center;
}
.swipebox{
    width:100%;
}
#bottonecontenuto{
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    padding: 7%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: cursive !important;
}
h1{
    font-size: 20px;
}
#iconemenu:active{
    color: #fff;
}
#menu:active,#menudv:active{
    color:#bbecf5;
}
/**+++++++++++++ACCORDION++++++++++++*/
button.accordion {
    background-color: rgba(159, 217, 251, 0.15) !important;
    color: #444 !important;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    margin: 0;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.3s;
    box-shadow: none !important;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}